---
---

/* === Foundation === */
@import 'foundation';
@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

/* === Montserrat and Open Sans === */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700|Montserrat:400,700);

/* === Variables === */
$colourCopy: #676767;
$colourHeading: #272727;
$colourAccent: #F3F4F8;
$colourSub: #999999;
$navBackground: rgba(0, 0, 0, 0.9);
$navText: #7D7D7D;
$navTextActive: #F2F2F2;
$navTextHover: #BFBFBF;
$navRightText: #464646;
$colourFooter: #191919;
$colourPageHeader: #FFFFFF;
$colorSectionBackground: #F2F2F2;
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$gutter: 1.875rem;
$min: min-width;
$max: max-width;
$small: 0px;
$medium: 640px;
$large: 1024px;
$xlarge: 1440px;
$xxlarge: 1920px;

/* === Minxins === */

// Vendor Prefixes
@mixin vendor-prefix($property, $value) {
  $prefixes: ('o', 'webkit', 'moz', 'ms');
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

// Media Queries
@mixin at-query($constraint, $viewport1, $viewport2: null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

// Section Block
@mixin sectionBlock {
  padding: 2em 0;

  @include at-query($min, $medium) {
    padding: 4em 0;
  }

  @include at-query($min, $large) {
    padding: 6.25em 0;
  }
}

/* === Global === */
body {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFFFF;
  color: $colourCopy;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

// Typography
h1, h2, h3 {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 700;
  color: $colourHeading;
}

h1 {
  font-size: 2.25em;
  line-height: 1.166666em;

  @include at-query($min, $medium) {
    font-size: 2.75em;
    line-height: 1.3em;
  }

  @include at-query($min, $large) {
    font-size: 3.15em;
    line-height: 1.2em;
  }

  @include at-query($min, $xlarge) {
    font-size: 3.625em;
    line-height: 1.2em;
  }
}

h2 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin-bottom: 0;

  @include at-query($min, $medium) {
    font-size: 2em;
  }

  @include at-query($min, $large) {
    font-size: 2.25em;
    margin-bottom: 0.25em;
  }

  @include at-query($min, $xlarge) {
    font-size: 3em;
    margin-bottom: 0.4em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0;

  @include at-query($min, $medium) {
    font-size: 1.75em;
  }

  @include at-query($min, $large) {
    font-size: 2em;
  }

  @include at-query($min, $xlarge) {
    font-size: 2.25em;
    line-height: 1.166666em;
    margin-bottom: 0.6em;
  }
}

h4 {
  font-family: $headingFont;
  margin-bottom: 0.75em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  color: $colourHeading;
}

h5 {
  font-family: $headingFont;
  margin-bottom: 0.05em;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75em;
  color: $colourSub;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h6 {
  font-family: $bodyFont;
  margin-bottom: 0.5em;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  color: #4f4f4f;
}

p {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-bottom: 0.6em;
}

a {
  font-family: $headingFont;
  color: $colourSub;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $colourHeading;
    text-decoration: none;
  }

  &:focus,
  &:visited {
    color: $colourSub;
    text-decoration: none;
  }

}

header {

  #mobileNav {
    padding: .625em;
    background-color: $navBackground;

    #menuIcon {
      color: $navText;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }

    #hiddenCheckbox {
      display: none;
    }

    #hiddenCheckbox:checked + ul {
      display: block;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 10;
      background-color: $navBackground;
    }

    ul {
      display: none;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      width: 100%;

      li {
        list-style: none;
        text-align: center;
        padding: 1em 0em;

        #closeButton {
          color: #FFFFFF;
          font-size: 3em;
          line-height: 1;
          cursor: pointer;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

      }

    }

  }

  .top-bar {
    background-color: $navBackground;

    #responsive-menu {

      .menu {

        & .active {
          a {
            color: $navTextActive;
            background-color: transparent;
          }
        }

      }

      div[class*="top-bar"] {

        ul {
          background-color: transparent;

          li {

            a {
              padding: 0.75rem 0.75rem 0.9em 1em;
              font-size: .75em;
              font-weight: 700;
              letter-spacing: 0.03em;
              @include vendor-prefix(transition, color .1s ease);

              &:hover {
                color: $navTextHover;
              }

            }

          }

        }

      }

      .top-bar-left {

        ul {

          li {

            a {
              color: $navText;
            }

          }

        }

      }

      .top-bar-right {
        display: none;

        ul {

          li {

            a {
              color: $navRightText;
            }

          }

        }

        @include at-query($min, $large) {
          display: block;
        }

      }

    }

  }

}

// Page Header and Overlay
.pageHeader {
  height: 45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  @include at-query($min, $medium) {
    height: 30vh;
    min-height: 250px;
  }

  @include at-query($min, $large) {
    height: 30vh;
  }

  @include at-query($min, $xlarge) {
    height: 350px;
  }

  h1 {
    z-index: 20;
    margin: 0;
    width: 65%;
    position: relative;
    top: 25%;
    left: 25%;
    @include vendor-prefix(transform, translate(-25%,-25%));
    color: $colourPageHeader;

    @include at-query($min, $medium) {
      width: 65%;
    }

    @include at-query($min, $large) {
      top: 50%;
      @include vendor-prefix(transform, translate(-25%,-50%));
    }

  }

  .headerOverlay {
    z-index: 10;
    height: 45vh;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @include at-query($min, $medium) {
      top: 51px;
      min-height: 250px;
      height: 30vh;
    }

    @include at-query($min, $large) {
      height: 30vh;
    }

    @include at-query($min, $xlarge) {
      height: 350px;
    }

  }

}

/* === Home - index.html === */
.home {

  .pageHeader {
    height: 65vh;
    background-image: url('../img/homeHeader.JPG');

    .headerOverlay {
      top: 45px;
      height: 65vh;
    }

    @include at-query($min, $medium) {
      height: 65vh;
      min-height: 350px;

      .headerOverlay {
        top: 51px;
        height: 65vh;
        min-height: 350px;
      }

    }

    @include at-query($min, $large) {
      height: 65vh;

      .headerOverlay {
        height: 65vh;
      }

    }

    @include at-query($min, $xlarge) {
      height: 73vh;

      .headerOverlay {
        height: 73vh;
      }

    }

  }

  #intro {
    @include sectionBlock;
    background-color: $colorSectionBackground;
  }

  #portfolio {
    @include sectionBlock;
  }

}

/* === About - /_layouts/about.html === */
.about {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/aboutHeader.jpg');
  }

  #aboutMe {
    @include sectionBlock;
    background-color: $colorSectionBackground;
  }

  #faceTime {
    background-image: url(/img/faceTime.jpg);
    background-size: cover;
    background-position: center center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    height: 400px;
  }

  .albumCover {
    background-color: red;
    height: 100px;
  }

}

/* === Portfolio - portfolio/index.html === */
.portfolio {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/portfolioHeader.jpg')
  }

}

/* === Journal - journal/index.html === */
.journal {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/aboutHeader.jpg');
  }

  .post {

    a > img {
      @include vendor-prefix(transition, .5s ease-in-out);
      @include vendor-prefix(filter, grayscale(0%));

    }

    a:hover > img {
      cursor: pointer;
      @include vendor-prefix(transition, .5s ease-in-out);
      @include vendor-prefix(filter, grayscale(40%));
    }

    time {
      display: block;
    }

  }

}

/* === Next Page - _includes/next.html === */
#next {
  padding: 2em 0;
  background-color: #999999;

  a {
    color: #525252;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
  }

  @include at-query($min, $medium) {
    text-align: right;
  }

}

/* === Footer - _includes/footer.html === */
footer {
  background-color: $colourFooter;

  #footerContainer {
    @include grid-row;
    font-family: $headingFont;
    font-weight: 700;
    background-color: $colourFooter;
    text-align: center;
    padding: 2em 0;

    #footerTitle {

      h5 {
        color: #bababa;
        text-transform: uppercase;
      }

    }

    #socialLinks {

      @include at-query($min, $medium) {
        margin: 0.25em 0 1.5em;
      }

      div {
        margin: 0.5em 0 1em;

        @include at-query($min, $medium) {
          margin: 0;
        }

      }

      a {
        color: #757575;
  			text-transform: uppercase;
      }

    }

    #footerCredit {

      a {
        color: #3C3C3C;
      }

    }

  }

}
