---
sitemap:
  exclude: 'yes'
---

/* === Montserrat Font Family === */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* === Foundation === */
@import 'foundation';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-menu;
@include foundation-label;
@include foundation-sticky;
@include foundation-switch;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

/* === Variables === */
$colorCopy: #000000;
$colorHeading: #262626;
$colorAccent: #F3F4F8;
$colorSub: #999999;
$colorTitleHeading: #4F4F4F;
$colorDarkGrey: #3d3d3d;
$navBackground: rgba(0, 0, 0, 0.9);
$navText: #7D7D7D;
$navTextActive: #F2F2F2;
$navTextHover: #BFBFBF;
$navRightText: #464646;
$headerOverlay: rgba(0, 0, 0, 0.5);
$altHeaderOverlay: #272727;
$colorFooter: #191919;
$colorFooterHeading: #BABABA;
$colorFooterLinks: #757575;
$colorFooterCredit: #3C3C3C;
$colorPageHeader: #FFFFFF;
$colorSectionBackground: #FFFFFF;
$headingFont: 'Montserrat', sans-serif;
$bodyFont: Georgia, Times, "Times New Roman", serif;

/* === Minxins === */

// Vendor Prefixes
@mixin vendor-prefix($property, $value) {
  $prefixes: ('o', 'webkit', 'moz', 'ms');
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

// Section Block
@mixin sectionBlock {
  padding: 2em 0;

  @include breakpoint(medium) {
    padding: 4em 0;
  }

  @include breakpoint(large) {
    padding: 6.25em 0;
  }
}

/* === Global === */
body {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFFFF;
  color: $colorCopy;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';
}

.noScroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;

  @media screen and (min-width: 40em) {
    position: initial;
    overflow: visible;
  }
}

// Typography
h1, h2, h3 {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 700;
  color: $colorHeading;
}

h1 {
  font-size: 2.25em;
  line-height: 1.166666em;

  @include breakpoint(medium) {
    font-size: 2.75em;
    line-height: 1.3em;
  }

  @include breakpoint(large) {
    font-size: 3.15em;
    line-height: 1.2em;
  }

  @include breakpoint(xlarge) {
    font-size: 3.625em;
    line-height: 1.2em;
  }
}

h2 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin-bottom: 1.5em;
  margin-top: .75em;

  @include breakpoint(medium) {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 0.6em;
  }

  @include breakpoint(large) {
    font-size: 2.25em;
    margin-bottom: 1em;
    margin-top: 0.6em;
  }

  @include breakpoint(xlarge) {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 1.5em;
  margin-top: .75em;

  @include breakpoint(medium) {
    font-size: 1.75em;
    margin-top: 0.75em;
    margin-bottom: 1.3em;
  }

  @include breakpoint(large) {
    font-size: 2em;
    margin-top: 0.8em;
    margin-bottom: 1.25em;
  }

  @include breakpoint(xlarge) {
    font-size: 2.25em;
    line-height: 1.166666;
    margin-bottom: 1.5em;
    margin-top: 0.75em;
  }
}

h4 {
  font-family: $headingFont;
  margin-bottom: 0.75em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  color: $colorDarkGrey;

  a {
    color: #262626;
    text-transform: inherit;

    &:hover,
    &:active {
      color: $colorTitleHeading;
      text-decoration: none;
    }

    &:focus,
    &:visited {
      color: #262626;
      text-decoration: none;
    }
  }
}

h5 {
  font-family: $headingFont;
  margin-bottom: 0.15em;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75em;
  color: $colorSub;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h6 {
  font-family: $bodyFont;
  margin-bottom: 0.8em;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125em;
  color: $colorTitleHeading;

  a {
    font-family: $bodyFont;
    color: inherit;
    text-transform: inherit;

    &:hover,
    &:active {
      color: $colorHeading;
      text-decoration: none;
    }

    &:focus,
    &:visited {
      color: $colorTitleHeading;
      text-decoration: none;
    }
  }
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.6em;

  a {
    font-style: italic;
    font-family: $bodyFont;
    color: inherit;
    text-transform: inherit;

    &:hover,
    &:active {
      color: $colorHeading;
      text-decoration: none;
    }

    &:focus,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

a {
  font-family: $headingFont;
  color: $colorSub;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $colorHeading;
    text-decoration: none;
  }

  &:focus,
  &:visited {
    color: $colorSub;
    text-decoration: none;
  }

}

header {

  #mobileNav {
    padding: .625em;
    height: 70px;
    background-color: $navBackground;
    font-family: $headingFont;

    #menu {
      color: #FFFFFF;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }

    #social {
      @extend #menu;
      color: #3D3D3D;
      text-align: right;
    }

    #menuOverlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      z-index: 10;
      background-color: $navBackground;

      li {
        list-style: none;
        text-align: left;
        padding: 1em;

        @media screen and (max-width: 40em) and (orientation: landscape) {
          padding: 0.75em;
        }

        .closeButton {
          color: #3D3D3D;
          font-size: 3em;
          line-height: 1;
          cursor: pointer;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

        &:first-of-type {
          padding: 0;
          text-align: center;
        }

      }

      &.open {
        display: block;
      }

    }

    #socialOverlay {
      @extend #menuOverlay;

      li {
        text-align: right;
      }

    }

  }

  .top-bar {
    position: relative;
    background-color: $navBackground;
    z-index: 9999;

    &.stick {
      position: fixed;
      top: 0;
      width: 100%;
    }

    #responsive-menu {

      .menu {

        & .active {
          a {
            color: $navTextActive;
            background-color: transparent;
          }
        }

      }

      div[class*="top-bar"] {

        ul {
          background-color: transparent;

          li {

            a {
              padding: 0.75rem 0.75rem 0.9em 1em;
              font-size: .75em;
              font-weight: 700;
              letter-spacing: 0.03em;
              @include vendor-prefix(transition, color .1s ease);

              &:hover {
                color: $navTextHover;
              }

            }

          }

        }

      }

      .top-bar-left {

        ul {

          li {

            a {
              color: $navText;
            }

          }

        }

      }

      .top-bar-right {
        display: none;

        ul {

          li {

            a {
              color: $navRightText;
            }

          }

        }

        @include breakpoint(large) {
          display: block;
        }

      }

    }

  }

}

// Page Header and Overlay
.pageHeader {
  position: relative;
  top: 0px;
  height: 45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include vendor-prefix(filter, grayscale(1));

  @include breakpoint(medium) {
    height: 30vh;
    min-height: 250px;
  }

  @include breakpoint(large) {
    height: 30vh;
  }

  @include breakpoint(xlarge) {
    height: 350px;
	}
	
	.pageHeaderContent {
		position: absolute;
		left: 50%;
		bottom: rem-calc(68);
		z-index: 20;
    transform: translateX(-50%);
		width: 100%;
		
		.row {
			align-items: flex-end;
		}
	}

  h1 {
    color: $colorPageHeader;
  }

  h2 {
		color: $colorPageHeader;
		text-align: right;
  }

  .headerOverlay {
    z-index: 10;
    height: 45vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: $headerOverlay;

    @include breakpoint(medium) {
      min-height: 250px;
      height: 30vh;

      &.stick {
        top: 0;
      }

    }

    @include breakpoint(large) {
      height: 30vh;
    }

    @include breakpoint(xlarge) {
      height: 350px;
    }

  }

}

// Multiple Columns
.multiColumns {
  padding-left: .9375rem;
  padding-right: .9375rem;

  @include breakpoint(medium) {
    display: flex;
    align-content: center;
    padding: 0;
    @include vendor-prefix(column-count, 2);

    p:first-child {
      padding-left: .9375rem;
      padding-right: .9375rem;
    }

  }
}

/* === Home - index.html === */
.home {

  .pageHeader {
    height: 65vh;
		background-image: url('../img/homeHeader.JPG');
		
		h1 {
			font-size: 3rem;
			letter-spacing: -0.05px;
			line-height: 58px;
		}

		h2 {
			font-size: 1.25rem;
			font-weight: 500;
			letter-spacing: 0.05px;
		}

    .headerOverlay {
      height: 65vh;
    }

    @include breakpoint(medium) {
      height: 65vh;
      min-height: 350px;

      .headerOverlay {
        top: 0px;
        height: 65vh;
        min-height: 350px;
      }

    }

    @include breakpoint(large) {
      height: 65vh;

      .headerOverlay {
        height: 65vh;
      }

    }

    @include breakpoint(xlarge) {
      height: 85vh;

      .headerOverlay {
        height: 85vh;
      }

    }

  }

  #intro {
    @include sectionBlock;
    background-color: #F2F2F2;
  }

  #portfolio {
		padding: 30px 0px 0px 0px;

		@include breakpoint(medium) {
			padding: 64px 0px 0px 0px;
		}

		.project {
			padding-bottom: 80px;

			@include breakpoint(medium) {
				padding-bottom: 136px;

				&:nth-of-type(odd) {
					padding-right: rem-calc(39);
				}
	
				&:nth-of-type(even) {
					padding-left: rem-calc(39);
				}

			}

			.projectImg {
				margin-bottom: 36px;
				width: 100%;
				height: 100%;
				min-height: 344px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;

				@include breakpoint(medium) {
					min-height: 647px;
				}
			}

			h3 {
				margin-bottom: 36px;
				font-size: rem-calc(18);
				letter-spacing: 0.05px;
				text-transform: capitalize;
			}

			p {
				margin-bottom: 30px;
			}

			h4 {
				font-size: rem-calc(12);
				font-weight: 500;
				letter-spacing: -0.05px;
				text-transform: uppercase;
			}

		}

	}

}

/* === About - /_layouts/about.html === */
.about {

  .pageHeader {
    @extend .pageHeader;
    height: 65vh;
    background-image: url('../img/aboutHeader.jpg');

    .headerOverlay {
      height: 65vh;
    }

    @include breakpoint(medium) {
      height: 65vh;
      min-height: 350px;

      .headerOverlay {
        height: 65vh;
        min-height: 65vh;
        min-height: 350px;
      }

    }

    @include breakpoint(large) {
      height: 65vh;

      .headerOverlay {
        height: 65vh;
      }

    }

    @include breakpoint(large) {
      height: 85vh;

      .headerOverlay {
        height: 85vh;
      }

    }

  }

  @include breakpoint(medium) {
    .column, .columns {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  #aboutMe {
    @include sectionBlock;
    background-color: $colorSectionBackground;

    #experience {
      @include breakpoint(small only) {
        margin-top: 1em;
      }
    }

  }

}

/* === Portfolio - portfolio/index.html === */
.portfolio {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/portfolioHeader.jpg');
  }

  h5 {

    @include breakpoint(large) {
      padding-left: 0.5em;
    }

  }

  #portfolio {
    @include sectionBlock;
  }

  .projects {
    padding: 1em 0;
    margin-bottom: 1em;

    .columns:nth-of-type(odd) {
      padding: 0.25em 0.25em 0.25em 0.5em;
    }

    .columns:nth-of-type(even) {
      padding: 0.25em 0.5em 0.25em 0.25em;
    }

    @include breakpoint(medium) {

      .columns:nth-of-type(odd) {
        padding: 0.5em 0.5em 0.5em 1em;
      }

      .columns:nth-of-type(even) {
        padding: 0.5em 1em 0.5em 0.5em;
      }

    }

    @include breakpoint(large) {
      margin-bottom: 4em;

      .columns:nth-of-type(odd) {
        padding: 0.5em;
      }

      .columns:nth-of-type(even) {
        padding: 0.5em;
      }

    }

    .projectLink {
      display: block;
      position: relative;

        h5 {
          @include vendor-prefix(transition, opacity .25s ease-in-out);
          opacity: 0;
          position: absolute;
          color: #FFFFFF;
          top: 50%;
          left: 0;
          padding-left: 0;
          width: 80%;
          margin: 0 20px;
          text-align: center;
          transform: translateY(-50%);
          z-index: 80;
        }

        .projectOverlay {
          @include vendor-prefix(transition, background-color .25s ease-in-out);
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(0,0,0,0);
          z-index: 20;
        }

      &:active, &:focus, &:hover {

        h5 {
          opacity: 1;
        }

        .projectOverlay {
          background-color: rgba(0,0,0,0.5);
        }

      }

    }

  }

}

/* === Project - _layout/project.html === */
.project {

  .pageHeader {

    .headerOverlay {
      background-origin: content-box;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }

  #projectSubTitle {
    padding-top: 2em;

    @include breakpoint(medium) {
      padding-top: 4em;
    }

    @include breakpoint(large) {
      padding-top: 6.25em;
    }

  }

  .projectContent {
    padding-bottom: 2em;

    @include breakpoint(medium) {
      padding-bottom: 4em;
    }

    @include breakpoint(large) {
      padding-bottom: 6.25em;
    }

    .projectImg {
      text-align: center;
    }

  }

}

/* === Journal - journal/index.html === */
.journal {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/journalHeader.jpg');
    margin-bottom: 2em;

    @include breakpoint(large) {
      margin-bottom: 5em;
    }
  }

  .posts {
    margin-bottom: 2em;
    padding-top: 1em;

    @include breakpoint(large) {
      margin-bottom: 2em;
    }

    .post {
      padding-bottom: 2.5em;

      @include breakpoint(large) {
        padding-bottom: 4em;
      }

      img {
        margin-bottom: 1em;

        @include breakpoint(large) {
          margin-bottom: 1.75em;
        }

      }

      a {
        @extend h4;
        color: #262626;
        text-transform: none;
      }

      time {
        @extend h5;
        display: block;
        margin: 0.5em 0 1em;
      }

    }

  }

}

/* === Default Post - _layout/post.html ===*/
body.post {

  .pageHeader {

    .headerOverlay {
      background-color: $altHeaderOverlay;
    }

  }

  #postSubTitle {
    padding-top: 2em;

    @include breakpoint(medium) {
      padding-top: 4em;
    }

    @include breakpoint(large) {
      padding-top: 6.25em;
    }
  }

  .postContent {
    @include sectionBlock;

    .postImg {
      @include flex-grid-column(12);
      margin: 4.5em 0 2.5em;
      text-align: center;

      &:first-of-type {
        margin-top: 0;
      }

    }

    h4 {
      @include flex-grid-column(12);
      color: #262626;
      font-family: $headingFont;
      font-weight: normal;
      text-align: center;
    }

    h5 {
      @include flex-grid-column(12);
      margin: 1.5em 0 0.75em 0;
      color: #262626;
      font-family: $headingFont;
      font-weight: normal;
      text-align: center;

      @include breakpoint(medium) {
        margin: 4em 0 0.75em 0;
      }

    }

    p {
      @include flex-grid-column(12);

      @include breakpoint(medium) {
        @include flex-grid-column(8);
      }

      @include breakpoint(large) {
        @include flex-grid-column(6);
      }

    }

    ul {
      @include flex-grid-column(12);
      margin: 0;
      font-size: 0.75em;
      font-weight: normal;
      list-style-type: none;
      text-align: center;
    }

  }

}

/* === Grid Photos Layout - _layout/post-grid-photos.html === */
.gridPhotos {

  .photos {
    @include sectionBlock;
    @include breakpoint(small only) {
      img  {
        margin: 5px 0;
      }
    }

    @include breakpoint(medium) {

      .column, .columns {
        padding-left: 6px;
        padding-right: 6px;
      }

      .photo {
        margin-bottom: 12px;
      }

    }

  }

  #quote {
    text-align: center;
  }

}

/* === Contact - contact/index.html === */
.contact {

  .pageHeader {
    @extend .pageHeader;
    background-image: url('../img/contactHeader.jpg');
  }

  .container {
    @include sectionBlock;

    form {
      margin-top: 2em;
      font-family: $headingFont;

      .callout {
        margin: 0 0 1rem 0;
        padding: 1rem 1.25rem;
        border: none;
        color: inherit;
      }

      input, textarea {
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        box-shadow: none;

        #inner-editor {
          color: #676767;
          font-size: 0.750em;
        }

      }

      input::-webkit-input-placeholder {
        color: #676767;
        font-size: 0.750em;
      }

      input:-moz-placeholder { /* Firefox 18- */
        color: #676767;
        font-size: 0.750em;
      }

      input::-moz-placeholder {  /* Firefox 19+ */
        color: #676767;
        font-size: 0.750em;
      }

      input:-ms-input-placeholder {
        color: #676767;
        font-size: 0.750em;
      }

      textarea {
        height: 250px;
      }

      textarea::-webkit-input-placeholder {
        color: #676767;
        font-size: 0.750em;
      }

      textarea:-moz-placeholder { /* Firefox 18- */
        color: #676767;
        font-size: 0.750em;
      }

      textarea::-moz-placeholder {  /* Firefox 19+ */
        color: #676767;
        font-size: 0.750em;
      }

      textarea:-ms-input-placeholder {
        color: #676767;
        font-size: 0.750em;
      }

      input[type="submit"] {
        padding: 0;
        background-color: transparent;
        border: 0px;
        font-size: 0.750em;
        font-weight: 600;
        text-transform: uppercase;
      }

    }

  }

}

/* === Next Page - _includes/next.html === */
#next {
  padding: 2em 0;
  background-color: #F2F2F2;
  text-align: center;

  a {
    color: $colorCopy;
    font-size: 0.75em;
    font-weight: 700;
  }

  @include breakpoint(medium) {
    text-align: right;
  }

}

/* === Footer - _includes/footer.html === */
footer {
  background-color: $colorFooter;

  #footerContainer {
    @include grid-row;
    font-family: $headingFont;
    font-weight: 700;
    background-color: $colorFooter;
    text-align: center;
    padding: 2em 0;

    #footerTitle {

      h5 {
        margin-bottom: 0.05em;
        color: $colorFooterHeading;
        text-transform: uppercase;
      }

    }

    #socialLinks {

      @include breakpoint(medium) {
        margin: 0.25em 0 1.5em;
      }

      a {
        margin: 0.75em 1.5em;
        color: $colorFooterLinks;
        font-family: $headingFont;
        font-size: 0.75em;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

    }

    #footerCredit {

      a {
        color: $colorFooterCredit;
      }

    }

  }

}
