<footer>
  <div id="footerContainer">
    <div id="footerTitle" class="row align-center">
      <h5>Connect with Daniel</h5>
    </div>
    <div id="socialLinks" class="row align-center">
      <a href="https://ca.linkedin.com/in/danielhildreth" target="_blank" rel="noopener">Linkedin</a>
      <a href="https://twitter.com/danielhildreth" target="_blank" rel="noopener">Twitter</a>
      <a href="https://instagram.com/danielhildreth/" target="_blank" rel="noopener">Instagram</a>
      <a href="https://pinterest.com/danielhildreth/" target="_blank" rel="noopener">Pinterest</a>
      <a href="mailto:daniel.john.hildreth@gmail.com" target="_blank" rel="noopener">Email</a>
    </div>
    <div id="footerCredit" class="row align-center">
      <h5><a href="https://christophermundle.com/" target="_blank" rel="noopener">Built By Christopher Mundle</a></h5>
    </div>
  </div>
</footer>
