<footer>
  <div class="row align-top">
    <div class="small-12 medium-7 large-8 columns">
      <h3>Daniel Hildreth</h3>
      <h4>Digital Designer(d) based in Toronto</h4>
      <p>Have a question or wish to work together?
        <a href="mailto:daniel.john.hildreth@gmail.com" target="_blank" rel="noopener">Email me.</a>
      </p>
    </div>
    <div class="small-12 medium-5 large-4 columns">
      <div class="row">
        <nav aria-label="Footer Navigation" class="small-12 medium-6 large-6 columns">
          <ul id="footerMenu" role="menu">
            <li role="menuitem">
              <a href="{{ site.baseurl}}/">projects</a>
            </li>
            <li role="menuitem">
              <a href="{{ site.baseurl}}/about/">about</a>
            </li>
            <li role="menuitem">
              <a href="{{ site.baseurl}}/ideas/">ideas</a>
            </li>
            <li role="menuitem">
              <a href="{{ site.baseurl}}/contact/">contact</a>
            </li>
          </ul>
        </nav>
        <nav aria-label="Daniel's social media" class="small-12 medium-6 large-6 columns">
          <ul id="socialLinks" role="menu">
            <li role="menuitem">
              <a href="https://instagram.com/danielhildreth/" target="_blank" rel="noopener">Instagram</a>
            </li>
            <li role="menuitem">
              <a href="https://twitter.com/danielhildreth" target="_blank" rel="noopener">Twitter</a>
            </li>
            <li role="menuitem">
              <a href="https://ca.linkedin.com/in/danielhildreth" target="_blank" rel="noopener">Linkedin</a>
            </li>
            <li role="menuitem">
              <a href="https://pinterest.com/danielhildreth/" target="_blank" rel="noopener">Pinterest</a>
            </li>
          </ul>
        </nav>
        <div id="footerCredit" class="small-12 columns">
          <a href="https://christophermundle.com/" target="_blank" rel="noopener">Website built by Christopher Mundle.</a>
        </div>
      </div>
    </div>
  </div>
</footer>