<header>
	<nav id="topNav" aria-label="Primary Navigation">
		<div class="row align-justify align-middle">
			<div class="small-6 medium-8 large-9 columns">
				<a href="{{ site.baseurl}}/" aria-label="Home Link">
					<div id="signature" aria-label="Daniel Hildreth"></div>
				</a>
			</div>
			<div class="small-6 columns show-for-small-only">
				<button class="float-right" id="mainMenuButton" aria-label="Open main menu">
					Menu
				</button>
			</div>
			<div class="small-12 medium-4 large-3 columns">
				<ul id="mainMenu" role="menu">
					{% unless page.url =='/' %}
						<li role="menuitem" id="projectsLink">
							<a href="{{ site.baseurl}}/">projects</a>
						</li>
					{% endunless %}
					<li role="menuitem">
						<a href="{{ site.baseurl}}/about/">about</a>
					</li>
					<li role="menuitem">
						<a href="{{ site.baseurl}}/ideas/">ideas</a>
					</li>
					<li role="menuitem">
						<a href="{{ site.baseurl}}/contact/">contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
