<header>
  <!-- Mobile Nav -->
  <div id="mobileNav" class="show-for-small-only">
    <label id="menuIcon" for="hiddenCheckbox">Menu</label>
    <input id="hiddenCheckbox" type="checkbox">
    <ul>
      <li><a href="{{ site.baseurl}}/">Home</a></li>
      <li><a href="{{ site.baseurl}}/about/">About</a></li>
      <li><a href="{{ site.baseurl}}/portfolio/">Portfolio</a></li>
      <li><a href="{{ site.baseurl}}/journal/">Journal</a></li>
      <li><a href="{{ site.baseurl}}/contact/">Contact</a></li>
    </ul>
  </div>

  <!-- Desktop Nav -->
  <div class="top-bar show-for-medium">
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="{{ site.baseurl}}/">Home</a></li>
          <li><a href="{{ site.baseurl}}/about/">About</a></li>
          <li><a href="{{ site.baseurl}}/portfolio/">Portfolio</a></li>
          <li><a href="{{ site.baseurl}}/journal/">Journal</a></li>
          <li><a href="{{ site.baseurl}}/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <a href="https://ca.linkedin.com/in/danielhildreth" target="_blank">Linkedin</a>
          </li>
          <li>
            <a href="https://twitter.com/danielhildreth" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://instagram.com/dainelhildreth/" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://pinterest.com/danielhildreth/" target="_blank">Pintrest</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
