<div id="next">
  <div class="row">
    <div class="small-12 medium-11 columns">
      {% case page.title %}
      {% when 'About' %}
        <a href="{{ site.baseurl }}/work/">View My Work</a>
      {% when 'Work' %}
        <a href="{{ site.baseurl }}/journal/">View My Journal</a>
      {% endcase %}
      {% case page.layout %}
      {% when 'project' or 'project-print' %}
        <a href="{{ site.baseurl }}/work/">View more pieces</a>
      {% when 'post' %}
        <a href="{{ site.baseurl }}/journal/">View more journal entries</a>
      {% endcase %}
    </div>
  </div>
</div>
