<div id="next">
  <div class="row">
    <div class="small-12 medium-11 columns">
      {% if page.title == "About" %}
        <a href="{{ site.baseurl }}/portfolio/">View My Portfolio</a>
      {% endif %}
      {% if page.title == "Portfolio" %}
        <a href="{{ site.baseurl }}/journal/">View My Journal</a>
      {% endif %}
      {% if page.layout == "project" %}
        <a href="{{ site.baseurl }}/portfolio/">View more portfolio pieces</a>
      {% endif %}
      {% if page.layout == "post" %}
        <a href="{{ site.baseurl }}/journal/">View more journal entries</a>
      {% endif %}
    </div>
  </div>
</div>
