---
layout: default
body_class: portfolio
title:  "Portfolio"
---
<div class="pageHeader">
  <h1>Risus tellus malesuada sollicitudin purus.</h1>
  <div class="headerOverlay"></div>
</div>
<div class="row align-center">
  <div class="small-12 medium-9 columns">
    <p class="sectionHeading">Portfolio</p>
  </div>
  <div class="projects">
    {% for post in site.projects %}
      <a class="projectLink" href="{{ post.url | prepend: site.baseurl }}">
        <div class="small-12 medium-6 columns">
          <img src="{{ site.baseurl }}/img/{{ post.image }}">
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% include next.html %}
