---
layout: default
---
<div class="pageHeader">
  <h2>Graphic and <br>Digital Designer.</h2>
  <div class="headerOverlay"></div>
</div>

<div id="aboutMe">
  <div class="row">
    <div class="small-12 medium-11 medium-offset-1 large-9 large-offset-1 columns">
      <h5>About Me</h5>
      <h3>Hi, I’m Daniel</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-1 large-5 large-offset-1 columns">
      {{ content }}
    </div>
    <div id="experience" class="small-12 medium-4 large-5 large-offset-1 columns">
      <h4>experience</h4>
      <h5>Since October 2016</h5>
      <h6>Digital Designer - <a href="https://www.azuremagazine.com/" target="_blank">Azure Magazine</a> and <a href="https://designlinesmagazine.com" target="_blank">Designlines</a> Magazine</h6>
      <h5>August 2014 - August 2016</h5>
      <h6>Designer - <a href="https://www.agencydominion.com/" target="_blank">Agency Dominion</a> &amp; <a href="https://www.beamlocal.com/" target="_blank" >Beam Local</a></h6>
      <h5>April - May 2014</h5>
      <h6>Design Intern - <a href="https://concrete.ca/" target="_blank">Concrete Design</a></h6>
      <h5>January - April 2014</h5>
      <h6>Design Intern - <a href="https://www.chatelaine.com/" target="_blank">Chatelaine Magazine</a></h6>
      <h5>February - May 2013</h5>
      <h6>Web Design Intern - <a href="https://stjoseph.com/" target="_blank">St. Joseph Communications</a></h6>
    </div>
  </div>
</div>

{% include next.html %}
