---
layout: default
---
<div class="pageHeader">
  <h2>Designer, wallflower &amp; lover of food and colour.</h2>
  <div class="headerOverlay"></div>
</div>

<div id="aboutMe">
  <div class="row">
    <div class="small-12 medium-11 medium-offset-1 large-9 large-offset-1 columns">
      <h5>About Me</h5>
      <h3>Hi, I’m Daniel</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-1 large-5 large-offset-1 columns">
      {{ content }}
    </div>
    <div id="experience" class="small-12 medium-4 large-5 large-offset-1 columns">
      <h4>experience</h4>
      <h5>Since August 2014</h5>
      <h6>Designer - Agency Dominion</h6>
      <h5>June - July 2014</h5>
      <h6>Freelance Designer</h6>
      <h5>May 2014</h5>
      <h6>Design Intern - Concrete Design &amp; Communications</h6>
      <h5>January - April 2014</h5>
      <h6>Design Intern - Chatelaine Magazine</h6>
      <h5>Febuary - May 2013</h5>
      <h6>Web Design Intern - Fashion &amp; Toronto LIfe Magazines</h6>
    </div>
  </div>
</div>

<div class="row photos">
  <div class="small-12 medium-5 medium-offset-1 columns">
    <img src="/img/about/daniel-hildreth-about-graphic-designer-toronto.jpg" alt="Daniel" />
  </div>
  <div class="small-12 medium-5 columns">
    <img class="photo" src="/img/about/daniel-hildreth-about-graphic-designer-toronto-england-landscape.jpg" alt="Castle" />
    <img src="/img/about/daniel-hildreth-about-graphic-designer-toronto-zippling-adventure.jpg" alt="Daniel Zippling" />
  </div>
</div>

<div id="quote" class="row align-center">
  <div class="small-11 medium-5 columns">
    <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Etiam
      porta sem malesuada magna mollis euismod.</p>
  </div>
</div>

<div class="row photos">
  <div class="small-12 medium-10 medium-offset-1 columns">
    <img class="photo" src="/img/about/daniel-hildreth-about-graphic-designer-toronto-england-lake-district-hike.jpg" alt="Daniel Hiking" />
  </div>
  <div class="small-12 medium-5 medium-offset-1 columns">
    <img class="photo" src="/img/about/daniel-hildreth-about-graphic-designer-toronto-big-sur-mcway-falls-california.jpg" alt="Mcway Falls" />
  </div>
  <div class="small-12 medium-5 columns">
    <img class="photo" src="/img/about/daniel-hildreth-about-graphic-designer-toronto-portrait.jpg" alt="Daniel" />
  </div>
  <div class="small-12 medium-5 medium-offset-1 columns">
    <img src="/img/about/daniel-hildreth-about-graphic-designer-toronto-shopping.jpg" alt="Store" />
  </div>
  <div class="small-12 medium-5 columns">
    <img src="/img/about/daniel-hildreth-about-graphic-designer-toronto-flowers.jpg" alt="Flowers" />
  </div>
</div>

{% include next.html %}
