---
layout: default
---
<div class="pageHeader">
  <h1>Risus tellus malesuada sollicitudin purus.</h1>
  <div class="headerOverlay"></div>
</div>

<div id="aboutMe">
  <div class="row">
    <div class="small-12 medium-12 large-9 large-offset-1 columns">
      <p class="sectionHeading">About Me</p>
      <h1>Daniel Hildreth</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-7 large-5 large-offset-1 columns">
      {{ content }}
    </div>
    <div class="small-12 medium-5 large-4 large-offset-1 columns">
      <p>experience<p>
      <div>
        <h6>Since August 2014</h6>
        <p>Designer - Agency Dominion</p>
      </div>
      <div>
        <h6>June - July 2014</h6>
        <p>Freelance Designer</p>
      </div>
      <div>
        <h6>May 2014</h6>
        <p>Design Intern - Concrete Design &amp; Communications</p>
      </div>
      <div>
        <h6>January - April 2014</h6>
        <p>Design Intern - Chatelaine Magazine</p>
      </div>
      <div>
        <h6>Febuary - May 2013</h6>
        <p>Web Design Intern - Fashion &amp; Toronto LIfe Magazines</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-5 large-offset-1 columns">
    <p>face to the name</p>
    <div id="faceTime"></div>
  </div>
  <div class="small-12 medium-6 large-5 large-offset-1 columns">
    <p>my favourite things</p>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
    <div class="small-6 medium-4 large-3 columns text-center">
      <div class="albumCover"></div>
      <div class="albumTitle"><p>Album Name</p></div>
      <div class="artist"><p>Artist</p></div>
    </div>
  </div>
</div>

{% include next.html %}
