---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

	<div class="pageHeader">
		<div class="pageHeaderContent">
			<div class="row">
				<div class="small-11 medium-9 medium-offset-1 large-9 large-offset-1 columns">
					<h1 itemprop="name headline">{{ page.title }}</h1>
				</div>
			</div>
		</div>
		<div class="headerOverlay"></div>
	</div>

  <div id="postSubTitle" class="row">
    <div class="small-12 medium-7 medium-offset-2 large-6 large-offset-2 columns">
      {% if page.sub_title %}<h3>{{ page.sub_title }}</h3>{% endif %}
      {% if page.excerpt %}<p>{{ page.excerpt }}</p>{% endif %}
      <h5><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Posted On {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %}, By <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h5>
    </div>
  </div>

  <div class="row align-center postContent" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include next.html %}
