---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

	<div class="pageHeader" id="pageHeader">
		<div class="pageHeaderContent">
			<div class="row">
				<div class="small-11 medium-9 medium-offset-1 large-9 large-offset-1 columns">
					<h1 itemprop="name headline">{{ page.title }}</h1>
				</div>
			</div>
		</div>
		<div class="headerOverlay"></div>
	</div>

  <div id="postSubTitle" class="row">
    <div class="small-12 medium-7 medium-offset-1 columns">
      {% if page.sub_title %}<h2>{{ page.sub_title }}</h2>{% endif %}
      {% if page.excerpt %}<p>{{ page.excerpt }}</p>{% endif %}
    </div>
  </div>

  <div class="row align-center postContent" itemprop="articleBody">
		<div class="small-12 medium-10 columns">
			{{ content }}
		</div>
  </div>

</article>

{% include next.html %}
