---
layout: default
---
<article class="project">

	<div class="pageHeader" style="background-image: url({{ site.baseurl }}/img/{{ page.header_image }})">
		<div class="pageHeaderContent">
			<div class="row">
				<div class="small-11 medium-9 medium-offset-1 large-9 large-offset-1 columns">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</div>
		<div class="headerOverlay"></div>
	</div>

  <div id="projectSubTitle" class="row">
    <div class="small-12 medium-6 large-5 columns">
      {% if page.sub_title %}<h3>{{ page.sub_title }}</h3>{% endif %}
    </div>
  </div>

  <div class="row projectContent">
    <div class="small-12 medium-7 large-6 columns">
      {{ content }}
    </div>
    <div id="projectInfo" class="small-12 medium-4 large-3 large-offset-1 columns">
      {% if page.role %}
        <h5>Role</h5>
        <h6>{{ page.role }}</h6>
      {% endif %}
      {% if page.type %}
        <h5>Type</h5>
        <h6>{{ page.type }}</h6>
      {% endif %}
      {% if page.year %}
        <h5>Year</h5>
        <h6>{{ page.year }}</h6>
      {% endif %}
      {% if page.skills %}
        <h5>Skills</h5>
        <h6>{{ page.skills }}</h6>
      {% endif %}
      {% if page.visit %}
        <h5>Visit</h5>
        <h6><a href="{{ page.visit }}" target="_blank">{{ page.title }}</a></h6>
      {% endif %}
    </div>
  </div>

  <div class="row align-center projectContent">
    <div class="small-12 medium-12 columns">
      <a href="{{ page.visit }}" target="_blank">
        <img class="projectImg" data-interchange="[{{ site.baseurl }}/img/work/{{ page.image_mobile }}, small], [{{ site.baseurl }}/img/work/{{ page.image_desktop }}, medium], [{{ site.baseurl }}/img/work/{{ page.image_desktop }}, large]">
      </a>
    </div>
  </div>

</article>

{% include next.html %}
