---
layout: default
---
<article class="project">

	<div class="pageHeader" id="pageHeader"style="background-image: url({{ site.baseurl }}/img/{{ page.header_image }})">
		<div class="pageHeaderContent">
			<div class="row">
				<div class="small-11 medium-9 medium-offset-1 large-9 large-offset-1 columns">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</div>
		<div class="headerOverlay"></div>
	</div>

  <div class="row projectContent">
    <div class="small-12 medium-6 medium-offset-1 large-5 large-offset-1 columns">
      {{ content }}
    </div>
    <div id="projectInfo" class="small-12 medium-4 large-3 large-offset-1 columns">
      {% if page.role %}
        <span class="projectInfoHeading">Role</span>
        <span class="projectInfoItem">{{ page.role }}</span>
      {% endif %}
      {% if page.type %}
        <span class="projectInfoHeading">Type</span>
        <span class="projectInfoItem">{{ page.type }}</span>
      {% endif %}
      {% if page.skills %}
        <span class="projectInfoHeading">Skills</span>
        <span class="projectInfoItem">{{ page.skills }}</span>
      {% endif %}
      {% if page.visit %}
        <span class="projectInfoHeading">Visit</span>
        <span class="projectInfoItem">
          <a href="{{ page.visit }}" target="_blank">{{ page.title }}</a>
        </span>
      {% endif %}
    </div>
  </div>

  <div class="row align-center projectContent">
    <div class="small-12 medium-10 columns">
        <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_one }}" alt="">
    </div>
    {% if page.image_two %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_two }}" alt="">
      </div>
    {% endif %}
    {% if page.image_three %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_three }}" alt="">
      </div>
    {% endif %}
    {% if page.image_four %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_four }}" alt="">
      </div>
    {% endif %}
    {% if page.image_five %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_five }}" alt="">
      </div>
    {% endif %}
    {% if page.image_six %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_six }}" alt="">
      </div>
    {% endif %}
    {% if page.image_seven %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_seven }}" alt="">
      </div>
    {% endif %}
    {% if page.image_eight %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_eight }}" alt="">
      </div>
    {% endif %}
    {% if page.image_nine %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_nine }}" alt="">
      </div>
    {% endif %}
    {% if page.image_ten %}
      <div class="small-12 medium-10 columns">
          <img class="projectImg" src="{{ site.baseurl }}/img/work/{{ page.image_ten }}" alt="">
      </div>
    {% endif %}
  </div>

</article>

{% include next.html %}
